@model UserWithRolesVIewModel
@{
    ViewData["Title"] = "User Roles";
}

<h2>Roles for @Model.Email </h2>

<div>
    <a href="/identity/addtorole/@Model.Id" class="btn btn-primary">Add to Role</a>
</div>
<br/>
@if (!Model.Roles.Any())
{
    <h3>No roles assigned</h3>
}

@foreach (var role in Model.Roles)
{
    <li>@role</li>
}

