@model IEnumerable<ListUserModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>

@if (TempData["SuccessMessage"] != null)
{
    <h2 class="text-success text-center">@TempData["SuccessMessage"]</h2>
}
<div>
  
</div>
<br/>
<div>
<a href="/identity/create" class="btn btn-primary">Add User</a>
<table class="table table-bordered table-hover">
    <tr>
        
        <th>Username</th>
        <th>Email</th>
        <th></th>
    </tr>
    
    @foreach (var user in Model)
    {
<tr>
    
    <th>@user.Username</th>
    <th>@user.Email</th>
    <th>
        <a href="/identity/changepassword/@user.Id" class="btn btn-warning">Change Password</a>
        <a href="/identity/roles/@user.Id" class="btn btn-default">Roles</a>
        <a href="/identity/delete/@user.Id" class="btn btn-danger">Delete</a>
    </th>

</tr>
    }
</table>
</div>
